body {
    min-height: 100%;
    margin: 0 auto;
}

.wrapper {
    height: 600px;
    max-width: 700px;
    border: 1px solid #111;
    margin: 0 auto;
}

.card__property {
    position: relative;
    transition: all 1.5s ease-in-out;
    transform-style: preserve-3d;
    width: 380px;
    height: 220px;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(to top left, rgba(69, 11, 128, 1), rgba(193, 185, 237, 1) );
}

.cardFlipOn {
    transform: rotateY(180deg);
}

.cardFlipOf {
    transform: -rotateY(180deg);
}

.card__top {
    display: flex;
}

.card__top-left {
    flex-grow: 4;
}

.card__top-right {
    flex-grow: 1;
}

.card__chip {
    width: 60px;
    height: 40px;
    margin: 50px 0 0 40px;
    padding: 3px 0;
    border-radius: 5px;
    background: rgba(240, 245, 245, 0.5);
}
.card__chip-inline{
    width: 35px;
    height: 25px;
    background: rgba(240, 245, 245, 0.5);
    border-radius: 5px;
    margin:5px 0 ;
}

.card__logo {
    width: 70px;
    height: 43px;
    text-align: center;
    margin: 20px 0 0 100px;
}
.card__logo-top{
    height: 12px;
    background:rgba(12, 9, 122, 1);
}
.card__logo-center{
    height: 19px;
    background: #fff;
    color: rgba(12, 9, 122, 1);
    font-style: italic;
    font-weight: bold;

}
.card__logo-bottom{
    height: 12px;
    background: rgba(212, 187, 0, 1);
}


/*card content*/
.card__content{
    display: flex;
    padding: 10px 0 20px 0;
    justify-content: center;
}
.card__number{
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
}

.card__bottom {
    display: flex;
}

.card__bottom-left {
    flex-grow: 3;
}

.card__bottom-right {
    justify-content: right;
    margin-right: 50px;
}
.card__user-name{
    font-family: 'Lora', serif;
    color: rgba(240, 245, 245, 0.5);
}
.date__config-name{
    font-size: 10px;
    color: rgba(240, 245, 245, 0.5);
    text-transform: uppercase;
}
.date__config{
    padding-left: 15px;
    color: #fff;
}
.card__user-name{
    padding-left: 40px; 
    font-weight: bold;
}

.card__band-top{
    margin-top: 30px;
    height: 50px;
    background: black;
}
.back__card-content {
    display: flex;
}
.card__band-center{
   
    width: 280px;
    height: 40px;
    background: #fff;
    margin: 20px 0 0 10px;
}
.cvc{
    margin: 20px 0 0 20px;
    color: #fff;
    font-size: 15px;
}
.card__chip-bottom{
    margin: 0;
}


.back__card-bottom{
    display: flex;
    margin: 20px 0 0 10px;
}
.back__card-text{
    width: 230px;
    font-size: 10px;
    margin-left: 20px;
    line-height: 1;
    color: #fff;
}




/**/
.container__setting-card {
    perspective: 500px;
}

.card__property.front__card,
.card__property .back__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.front__card {
    z-index: 2;
    border-radius: 10px;
    backface-visibility: hidden;
}

.back__card {
    z-index: 1;
    border-radius: 10px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}