<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <section class="header">

            <div class="container__setting-card">
                <div class="card__property father">
                    <div class="front__card">
                        <div class="card__top">
                            <div class="card__top-left">
                                <div class="card__chip"></div>
                            </div>
                            <div class="card__top-right">
                                <div class="card__logo">VISA</div>
                            </div>
                        </div>
                        <div class="card__content" ng-controller="cardNumCtrl">
                            <div class="card__number">{{card_numb}}</div>
                        </div>

                        <div class="card__bottom">
                            <div class="card__bottom-left" ng-controller="cardNameCtrl">
                                <div class="card__user-name">{{card_name}}</div>
                            </div>
                            <div class="card__bottom-right" ng-controller="cardExpiryCtrl">
                                <div class="card__user-data">{{card_expiry}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="back__card">
                        back
                    </div>
                </div>
            </div>
        </section>
        <section class="content-input">
            <div class="card__numb-property" ng-controller="cardNumCtrl">
                <div class="card__numb-title">Card Number</div>
                <input class="form-control" type="text" placeholder="Default input" ng-model="card_numb" ng-keyup="sendData()">
            </div>
            sdds
            <div class="card__name-property" ng-controller="cardNameCtrl">
                <div class="card__name-title">Card Name</div>
                <input class="form-control" type="text" placeholder="Default input" ng-model="card_name" ng-keyup="sendData()">
            </div>
            sss
            <div class="card__expiry-property" ng-controller="cardExpiryCtrl">
                <div class="card__expiry-title">Curd Number</div>
                <input class="form-control" type="text" placeholder="Default input" ng-model="card_expiry" ng-keyup="sendData()">
            </div>
            sss
            <div class="card__cvc-property" ng-controller="cardCvcCtrl">
                <div class="card__cvc-title">Curd Number</div>
                <input class="form-control" type="text" placeholder="Default input" ng-model="card_cvc" ng-keyup="sendData()">
            </div>
        </section>
    </div>
    <div ng-controller="cardNumCtrl">
        {{1+2}}
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="js/app.js"></script>
</body>

</html>